@page "/admin/users/edit/{Id:long}"
@layout AdminLayout
@attribute [Authorize(Roles = "admin")]
@*@inject UserRepository userRepository*@
@inject IUserRepository userRepository

<div class="container mt-4 p-5 shadow" dir="rtl">
    <h3 class="text-right">ویرایش کاربر</h3>
    @if (ShowMessage)
    {
        <p class="alert alert-info text-center font-weight-bold">@Message</p>
    }

    @if (user != null)
    {
        <Form user="@user" SubmitCallback="UpdateUser" />
    }
</div>